footer
{
    height: 60px;
    width: 100%;
    color: #aaa;
}

footer ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
    width: 100%;
}

footer ul li
{
    flex: 1;
}

footer ul li:nth-child(1)
{
    text-align: left;
}

footer ul li:nth-child(2)
{
    text-align: center;
}

footer ul li:nth-child(3)
{
    text-align: right;
}

footer a
{
    text-decoration: none;
    color: #aaa;
}

footer a:hover
{
    text-decoration: underline;
    color: #bbb;
}

#github-mark
{
    filter: invert(60%);
    transition: .2s;
}

#github-mark:hover
{
    filter: invert(70%);
}